#The port from which the project will be available
EXTERNAL_PORT=8080

#credentials for the postgres database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

#Credentials for a default admin user
ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=VeryStr0ngPass!

#Only used in the dev environment
#redirect the dockerfiles used to enable live update
DOCKERFILE=Dockerfile.dev
#redirect the nginx config file to open extra ports used for debugging
NGINX_CONF=nginx.dev.conf
#flag used in the code to only enable certain features during in the dev environment
NODE_ENV=development